body {
  background-color: #f5f5f5;
}

#wrap {
  > header {
    position: relative;

    > .header-section {
      //   display: none;
      position: fixed;
      margin-top: -60px;
      width: 100%;
      z-index: 100;
      background-color: hsla(61, 65%, 75%, 0.9);
      box-shadow: 0 8px 12px 0 rgb(23 27 21 / 25%);
      > .header-section-wrap {
        display: flex;
        position: relative;
        height: 64px;
        border-bottom: 0.5px solid #dfdfdf;
        padding: 0 24px;
        justify-content: space-evenly;
        align-items: center;
        background-color: hsla(0, 0%, 100%, 0);
        > h1 {
          max-width: 56px;
          > a {
            > img {
              max-width: 100%;
              vertical-align: top;
              border-style: none;
              pointer-events: none;
            }
          } //q
        } //h1

        > h2 {
          margin-left: 20px;
          font-weight: 800;
          > a {
            
            > button {
              width: 80px;
              height: 30px;
              font-weight: bold;
              color:#da9240;
              border-radius: 5px;
              margin-left: 20px;
              border: 1px solid #ffe04b;
              background-color:rgb(255, 255, 255);
              box-shadow: 0 8px 12px 0 rgb(33 37 41 / 55%);
            }
          }
        }
        > p {
          position: relative;
          > input {
            width: 400px;
            height: 30px;
            border-radius: 20px;
            border: 3px solid #b6aa3d;
          }
          > button {
            position: absolute;
            top: 5px;
            right: 50%;
            margin-right: -200px;
            width: 30px;
            height: 30px;
            border: none;
            background: none;
            border-radius: 20px;
            background-image: url(./../images/millie/icon_search.png);
            background-repeat: no-repeat;
            text-indent: -9999999px;
          }
        }
      } //header-section-wrap
    } //end of .header-section

    > .container {
      position: relative;
      width: 100%;
      max-width: 1280px;
      height: 100px;
      margin: 50px auto;
      //   border: 1px solid red;

      > .logo {
        position: absolute;
        left: 10%;
        top: 40px;
        width: 100px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(./../images/millie/full-logo.f9246fa0ca04c7cef80a5d0f5409f0be.png);

        > a {
          display: block;
          height: 69px;
          text-indent: -9999px;
        }
      } //end of .logo
      > .snb-container {
        position: relative;
        // width: 1280px;
        > .snb {
          display: flex;
          position: absolute;
          right: 0;
          top: 15px;
          // border: 1px solid #000;
          > li {
            margin-left: 15px;
            > a {
              display: block;
              color: #777;
              font-size: 14px;
              font-weight: 600;
            }
            > a:hover {
              text-decoration: underline;
            }
          } //end of li
        } //end of .snb
      } //snb-container

      > nav {
        // width: 80%;
        // height: 80px;
        max-width: 1280px;
        position: relative;
        top: 50%;
        // border: 1px solid #000;
        > p {
          width: 300px;
          position: absolute;
          left: 50%;
          top: 0;
          margin-left: -350px;
          > input {
            width: 100%;
            height: 30px;
            border-radius: 20px;
          }
          > button {
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: 120px;
            width: 30px;
            height: 30px;
            border: none;
            background: none;
            border-radius: 20px;
            background-image: url(./../images/millie/icon_search.png);
            background-repeat: no-repeat;
            // text-indent: -9999999px;
          }
        } //p

        > .gnb {
          display: flex;
          position: absolute;
          right: 0;
          top: 20px;
          text-align: center;
          > li {
            margin-top: -20px;
            margin-left: 20px;

            > a {
              min-width: 110px;
              font-size: 16px;
              line-height: 1.4em;
              color: #dcb700;
              font-weight: 700;
              display: block;
              &:hover {
                color: #da9240;
              }
            } //a

            > .lnb {
              display: none;
              max-width: 100px;
              margin-top: 30px;
              text-align: center;
              //   border: 1px solid #8d0a0a;

              > li {
                text-indent: 5px;
                background-color: hsla(61, 65%, 75%, 0.5);
                &:last-child {
                  font-weight: bold;
                }
                > a {
                  display: block;
                  height: 40px;
                  font-size: 14px;
                  font-weight: 500;
                  line-height: 50px;

                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;

                  &:hover {
                    font-weight: 800;
                    color: rgb(165, 10, 10);
                    background-color: #ffe04b;
                  }
                }
              } //li
            } //lng
          } //li
        } //.gnb
      } //end of nav
    } //end of .container
  } //end of header

  //메인
  > section {
    width: 100%;
    // max-width: 1280px;
    // margin: 0 auto;
    background-color: cadetblue;
    z-index: -1;
    position: relative;
    > h2 {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url(./../images/millie/main-bg.0c2e95bfd550759a46367d3abb3d05df.png);
      //   border: 1px solid #000;
      > a {
        display: block;
        height: 700px;
        &::after {
          position: absolute;
          left: 50%;
          margin-left: -300px;
          top: 20%;
          font-size: 40px;
          font-weight: 600;
          content: "밀리의서재";
        }
      }
    }
    > p {
      position: relative;
      font-size: 40px;
      font-weight: 800;
      > a {
        display: block;
        position: absolute;
        left: 50%;
        top: -500px;
        margin-left: -300px;

        color: #ffe04b;
      }
    }
  } //section
  @keyframes fadeIn {
    0% {
      transform: translate3d(0, 50%, 0);
      opacity: 0;
    }
    100% {
      transform: translateZ(0);
      opacity: 1;
    }
  }

  > section {
    > article {
      margin-top: 50px;
      padding: 80px 24px;
      max-width: 100%;

      > .tit-text {
        // border: 1px solid #000;
        width: 600px;
        margin: 0 auto;
        margin-top: 60px;
        margin-bottom: 100px;
        font-weight: 800;
        font-size: 50px;
        text-align: center;
        line-height: 130%;
        letter-spacing: -0.01em;
        color: #ffe04b;
        animation: fadeIn 2s forwards;
      }
      > .tit-text1 {
        font-size: 22px;
        text-align: center;
        line-height: 160%;
        margin-top: -80px;
        margin-bottom: 30px;
        letter-spacing: -0.6px;
        color: #555;
        animation: fadeIn 2s forwards;
      }
      > .swiper {
        position: relative;
        // width: 100%;
        // max-width: 1280px;
        // margin: 0 auto;
        > .swiper-wrapper {
          @keyframes slideLeft {
            0% {
              background-position: 0;
            }
            100% {
              background-position: -3000px;
            }
          }
          @keyframes slideReft {
            0% {
              background-position: 0;
            }
            100% {
              background-position: 3000px;
            }
          }
          background-position: center center;

          > .swiper-slide1 {
            // border: 1px solid #000;

            background-image: url(./../images/millie/slide01.a7cc998bd9e966d0d94956bef997e0c8.png);

            animation: slideLeft 100s linear infinite;
            > a {
              display: block;
              height: 200px;
            }
          }
          > .swiper-slide2 {
            margin: 50px 0;
            background-image: url(./../images/millie/slide02.49dff390b1caebf4be084582e573d26f.png);
            animation: slideReft 100s linear infinite;
            > a {
              display: block;
              height: 200px;
            }
          }
          > .swiper-slide3 {
            background-image: url(./../images/millie/slide03.2246c95c20916dc665da8a84af1cd2ad.png);
            animation: slideLeft 100s linear infinite;
            > a {
              display: block;
              height: 200px;
            }
          }
        }
      } //swiper
    } //article
  } //section

  > footer {
    width: 1280px;
    margin: 0 auto;
    padding-bottom: 50px;

    > .footer-inner {
      max-width: var(--footer-width);
      margin: 0 auto;
      padding: 30px 0px 10px 0px;
     border-bottom: 1px solid #c4c4c4;
      > h2 {
        font-weight: 700;
        font-size: 16px;
        color: #242424;
        margin: 0;
      }

      > .sns {
        display: flex;
        position: absolute;
        right: 0;
        > li {
          background-size: cover;
          width: 22px;
           margin-left: 10px;
           margin-top: -20px;
          &:nth-of-type(1) {
            background-image: url(./../images/sns-youtube.b399a84a750e221ded9fef98ddeca396.png);
          }
          &:nth-of-type(2) {
            background-image: url(./../images/sns-instagram.ba9357bd6c1bb50854389e9f15f76d76.png);
          }
          &:nth-of-type(3) {
            background-image: url(./../images/sns-facebook.3a7b1d9f3faea84dcb6091c956639408.png);
          }
        
          > a {
            height: 20px;
            display: block;
          }
        }
      }
    } //.footer-inner
    > button {
      border: none;
      color: #a5a5a5;
      font-size: 10px;
      background: url(./../images/down-arr.0b293f1f10f97e5a2a744710ef0d1133.png)
        100% no-repeat;
      background-size: 12px;
      padding-right: 14px;
      margin-top: 10px;
    }
    > ul {
      display: flex;
      margin-top: 24px;
    }
    > address {
      height: 50px;
      line-height: 50px;
      text-align: center;
    }
  }
} //end of #wrap
